.u-section-1 .u-sheet-1 {
  min-height: 1557px;
}

.u-section-1 .u-image-1 {
  width: 168px;
  height: 168px;
  margin: 140px auto 0 237px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -56px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 525px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 56px 54px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 54px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  font-size: 1.375rem;
  margin: 40px 10px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 312px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px 30px 20px;
}

.u-section-1 .u-group-1 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: 48px auto 0 80px;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -156px 64px 0 auto;
}

.u-section-1 .u-text-5 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 767px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 170px 0 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  margin: 12px 170px 0 0;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 170px 0 0;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1451px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 53px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: 171px;
    height: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 782px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 70px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 70px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 630px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -547px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 196px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 675px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 588px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -505px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 33px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 176px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 1147px;
    margin-left: 172px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1064px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 683px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover:before {
  background-color: #99c2ff !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-group-1:before {
  background-color: #ffffff !important;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover:before {
  background-color: #f4c39d !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-group-2:before {
  background-color: #ffffff !important;
}

.u-section-1 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  color: #0066ff !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  color: #0066ff !important;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  color: #0066ff !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  color: #0066ff !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  color: #e37218 !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  color: #e37218 !important;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  color: #e37218 !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  color: #e37218 !important;
}